@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 400vh;
}

/* seta e scroll*/
.scroll-down {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%);
  text-align: center;
}

.scroll-down  {
  color: #940abd; 
  font-size: 1.3rem; 
  text-decoration: none; 
  transition: transform 0.3s ease;
}

.scroll-down :hover {
  transform: scale(1.2); 
}


/* Estilo da Navbar */
.navbar{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar .logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .logo .dev {
  color: #940abd; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  
}

.nav-links li {
  font-size: 1rem;
  margin: 0px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  
}

.nav-links a:hover {
  color: #940abd; 
}
.btn-contato {
  background-color: white;
  color: #940abd;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 1.3s ease;
}

.btn-contato:hover {
  background-color: #760c9e; 
  color: white;
}

/*inicio*/

.inicio{
  text-align: center;
  margin-top: 150px;
  font-size: 20px;
}

.ola{
  background-color: #940abd;
  color: white;
  margin: 5px;
  border-radius: 17%;
  padding: 3px;
  margin-bottom: 2px;
  
 }

 .mim{
  font-size: 17px;
  margin-bottom: 2px;
 }

 .front-end{
  margin-top: 2px;
  font-weight: bold;
  font-size: 38px;
 }

 .developer{
  color: #940abd;
 }

.ads{
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
}

/* icons*/
.social-icons {
  display: flex;
  gap: 1rem; 
  justify-content: center;
}

.social-icons a img {
  margin-top: 15px;
  width: 18px; 
  height: 18px; 
  object-fit: contain; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.social-icons a img:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

/* botão de cv*/

.btn-cv {
  margin-top: 8px;
  display: inline-block;
  background-color: #940abd; 
  color: white; 
  padding: 12px; 
  font-size: 15px; 
  font-weight: bold; 
  text-decoration: none; 
  border-radius: 200px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cv:hover {
  background-color: #760c9e; 
  transform: scale(1.05); 
}